@font-face {
  font-family: "Computer Modern Serif";
  src: url("/fonts/cmunrm.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Computer Modern Serif";
  src: url("/fonts/cmunbx.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Computer Modern Serif";
  src: url("/fonts/cmunti.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Computer Modern Serif";
  src: url("/fonts/cmunbi.woff") format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Computer Modern Typewriter";
  src: url("/fonts/cmunbtl.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Computer Modern Typewriter";
  src: url("/fonts/cmunbto.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Computer Modern Typewriter";
  src: url("/fonts/cmuntt.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Computer Modern Typewriter";
  src: url("/fonts/cmuntb.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Computer Modern Typewriter";
  src: url("/fonts/cmunit.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Computer Modern Typewriter";
  src: url("/fonts/cmuntx.woff") format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Computer Modern Classical Serif Italic";
  src: url("/fonts/cmunci.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
